.breadcrumb {
    height: 64px;
    padding: 20px 16px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    .breadcrumb-name{
        display: inline-block;
        .b-link{
            color: #515a6e;
            font-size: 15px;
            text-decoration: none;
        }
    }
    .b-sp{
        margin: 0 8px;
        color: #dcdee2;
    }
}